@model StackEMA.Models.Post
@using StackEMA.Models

@{
    ViewBag.Title = "Details - " + Model.Title;
}

<h2>Details</h2>

<fieldset>
    <legend>Post</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Date)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Date)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>

@Html.Partial("~/Views/Post/_Replies.cshtml", Model.Replies);
@Html.Partial("~/Views/Post/_FormReply.cshtml", new Reply());
