<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <h1>LAYOUT MOBILE</h1>
    @if (User.Identity.IsAuthenticated)
    {
        <a href="/account/logout">Déconnexion</a>
    }
    else
    {
        <a href="/account/login">Connexion</a>
    }
    <hr />
    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
    <hr />
    <a href="/fr/post/index">FR</a>
    <a href="/en/post/index">EN</a>
    <a href="/es/post/index">ES</a>
    <br />
    @string.Format(Resources.Language.hello, @User.Identity.Name)
    <br />
    Durée d'exécution: @ViewBag.timeToAction
</body>
</html>
